*{
 margin: 0;
 padding: 0;
   /*centreert content naar margin: 50 25*/
}

body{
 /*Verwijderd de spaties zodat de tekst, linksboven, op * begint van de hoek*/
 font-family: Arial, Helvetica, sans-serif;
 width: 99vw;
 height: 99vh;
}

nav{
 position: fixed;
 display: flex;
 text-align: right;
}

section{
 background-size: 100vw;
 display: flex;
 text-align: center;
 min-height: 100vh;
 max-height: 100vh;
 max-width: 99vw;

 /*centreert content naar het midden van zijn inline-block regel*/
 justify-content: center;

 /*centreert content naar margin: 50 25*/
 align-items: center;
}

.bold{ font-weight: bold; }
.white{ color: #FFFFFF; }

.font60{ font-size: 60px; }
.font40{ font-size: 40px; }

.font120{ font-size: 120px; }

#slide1{ background-image: url(../docs/slide1/degrader1.png); }

#slide2{ background-image: url(../docs/slide2/degrader2.png); }

#slide3{ background-image: url(../docs/slide3/degrader3.png); }

#slide4{ background-image: url(../docs/slide4/degrader4.png); }

#slide5{ background-image: url(../docs/slide5/degrader5.png); }

/* nog te verkrijgen van docent
#slide6{ background-image: url(../docs/slide6/degrader6.png); }
*/